<a href="/contact_created"></a>
<h2>You have created a contact</h2>
<p>Name: @Model.GetName()</p>
<p>Address: @Model.GetAddress()</p>
<p>Phone Number: @Model.GetPhoneNumber()</p>

<a href="/addContact">Add another contact</a>
<a href="/">View all contacts</a>
