<a href="/"></a>
<h1>AddressBook</h1>
<h2>Your Contacts</h2>
@foreach (var name in Model) {
  <p>Name: @name.GetName()</p>
  <p>Address: @name.GetAddress()</p>
  <p>Phone Number: @name.GetPhoneNumber()</p>
}
<a href="/addContact">Add contact</a>
